  <%- include('partials/menu', {req:req}); %>
<link rel="stylesheet" href="../css/styles.css">
<div style="text-align: center;">
  <br>
  <h1 ><%=title%></h1>
  <br>
  <br>
  <% if(crops.length === 0){ %>
    <br>
    <% if(title == "History") { %>
      <h3>Your bought items will be shown here once delivered.</h3>
    <% } else if(title == 'Dashboard') { %>
      <h3>Your bought crops which are not yet dispatched or in transit will be shown here.<br><br>You will have to update the status when received by you.</h3>
    <% } else if(title=="Marketplace") { %>
      <h3>No listings available at the moment...<br><br>Please check back in a while!</h3>
    <% } %>
  <% } %>
</div>
<div class = 'box'>
  <% for(var i=0; i < crops.length; i++) { %>
  <% var clas = 'card-img-top img-responsive center' %>
      <% var styles = 'height:200px; overflow:hidden;' %>
  <div class="item center" style="margin-left:10px;margin-top: 10px;">
    <% if (!crops[i].image) { %>
      
      <img class="<%=clas%>" style="<%=styles%>" src="https://www.graphicsprings.com/filestorage/stencils/71f2345d19439f1a3336e316de93bbbb.png?width=500&height=500" ></i>
    <% } else {%>
      <img class="<%=clas%>" style="<%=styles%>" src="data:image/jpeg;base64, <%= crops[i].image %>">
    <% } %>
    <div class="card-body " style="align-content: flex-end;">
      <h3 class='card-title'><%= crops[i].name %></h3>
      <p class='card-text'>Quantity: <%= crops[i].quantity %></p>
      <p class='card-text'>Price: <%= crops[i].price %></p>
      <p class='card-text'>Seller: <%= crops[i].farmerName %></p>
      <% if (title == "Marketplace") {%>
        <% var link = "/buyer/buy/" + crops[i]._id %>
        <a href="<%=link %>" class="btn btn-primary btn-lg buybutton">Buy</a>
        <br>
      <%} else if (title == "Dashboard") {%>
        <% if (crops[i].sent) {%> 
          <p class="card-text">Order Sent</p>
          <% var link = "/buyer/receive/" + crops[i]._id %>      
          <a href="<%=link %>" class="btn btn-primary btn-lg buybutton">Received Order</a>
        <% } else{ %>
          <p class="card-text">Yet to be dispatched.</td> 
        <% } %>
        <br>
        <br>
        <% var link = "/buyer/raisecomplaint/" + crops[i].cropID %>
        <a href="<%=link %>" class="btn btn-primary btn-lg buybutton">Complain</a>
      <% } %>
      <div class="card-footer">
      <p class='card-text'>Age: <%=findHumanAge(crops[i].date)%></p>      
      </div>
    </div>
    
  </div>

  <% } %>
</div>
