  <%- include('partials/menu', {req:req}); %>
<link rel="stylesheet" href="../css/styles.css">
<br>
<div style="text-align: center;">
  <h1><%=title%></h1>
  <br>
  <% if(crops.length === 0){ %>
    <h3>No data to display</h3>
    <br>
    <% if(title == "History") { %>
      <h5>Your sold items will be shown here once delivered.</h5>
    <% } else if(title == 'Dashboard') { %>
      <h5>Your sold crops which are not yet delivered will be shown here. You will have to update the status when dispatched by you.</h5>
    <% } else{ %>
      <h5>Your created listings will be shown here which will be visible to all the buyers. Once created you can edit or delete them.</h5>
    <% } %>
  <% } %>
</div>
<div class = 'box'>
  <% for(var i=0; i < crops.length; i++) { %>
  <!--img src="cat.png" alt="i_can_has_cheezburger" !-->
  <% var clas = 'card-img-top img-responsive center' %>
      <% var styles = 'height:200px; overflow:hidden;' %>
  <div class="item center" style="margin-left:10px;margin-top: 10px;">
    <% if (!crops[i].image) { %>
      
      <img class="<%=clas%>" style="<%=styles%>" src="https://www.graphicsprings.com/filestorage/stencils/71f2345d19439f1a3336e316de93bbbb.png?width=500&height=500" ></i>
    <% } else {%>
      <img class="<%=clas%>" style="<%=styles%>" src="data:image/jpeg;base64, <%= crops[i].image %>">
    <% } %>
    <div class="card-body ">
      <h3 class='card-title'><%= crops[i].name %></h3>
      <p class='card-text'>Quantity: <%= crops[i].quantity %></p>
      <p class='card-text'>Price: <%= crops[i].price %></p>
      
      <% if (title != "Current Listings") {%>
        <p class='card-text'>Buyer: <%= crops[i].buyerName %></p>
      <% } else{%>
          <p class='card-text'>Status: Yet to be bought</p>
        <% var editlink = "/farmer/editlisting/" + crops[i]._id %>
          <a href="<%=editlink %>" class="btn btn-primary btn-lg buybutton">Edit</a>
          <% var deletelink = "/farmer/deleteCurrent/" + crops[i]._id %>
          <a href="<%=deletelink %>" class="btn btn-primary btn-lg buybutton" style="margin-top:2%">Delete</a>
      <%}%>
      <% if (title == "Dashboard") {%>
        <% if (!crops[i].sent) {%> 
          <% var link = "/farmer/sent/" + crops[i]._id %>
          <p class='card-text'>Status: Yet to be dispatched by you</p>
          <a href="<%=link %>" class="btn btn-primary btn-lg buybutton">Dispached</a>
          <br>
        <%} else {%>
          <p class='card-text'>Status: Yet to be recieved by <%= crops[i].buyerName %></p>
        <%}%>
        <br>
        <br>
        <% var link = "/farmer/raisecomplaint/" + crops[i].cropID %>
        <a href="<%=link %>" class="btn btn-primary btn-lg buybutton">Complain</a>
      <% } %>
      <div class="card-footer">
      <p class='card-text'>Age: <% if (Math.floor((new Date() - crops[i].date) / 1000) / 31536000 > 1) { %>
        <%=Math.floor(Math.floor((new Date() - crops[i].date) / 1000) / 31536000) + " year(s) ago"%>
      <% } else if (Math.floor((new Date() - crops[i].date) / 1000) / 2592000 > 1) { %>
        <%=Math.floor(Math.floor((new Date() - crops[i].date) / 1000) / 2592000) + " month(s) ago"%>
      <% } else if (Math.floor((new Date() - crops[i].date) / 1000) / 86400 > 1) { %>
        <%=Math.floor(Math.floor((new Date() - crops[i].date) / 1000) / 86400) + " day(s) ago"%>
      <% } else if (Math.floor((new Date() - crops[i].date) / 1000) / 3600 > 1) { %>
        <%=Math.floor(Math.floor((new Date() - crops[i].date) / 1000) / 3600) + " hour(s) ago"%>
      <% } else if (Math.floor((new Date() - crops[i].date) / 1000) / 60 > 1) { %>
        <%=Math.floor(Math.floor((new Date() - crops[i].date) / 1000) / 60) + " minute(s) ago"%>
      <% } else{%>
        <%=Math.floor((new Date() - crops[i].date) / 1000) + " second(s) ago"%>
      <% }%> </p>
      
      </div>
    </div>
    
  </div>

  <% } %>
</div>
